body {
  overflow: hidden scroll;
}

#theme-list.show {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#theme-list > li {
  width: 100%;
}

@media (min-width: 310px) {
  #theme-list.show {
    width: 280px;
  }

  #theme-list > li {
    width: 50%;
  }
}